<main class="container mx-auto">
  <div class="flex flex-col gap-2">
    <div class="text-xl">Navigation</div>
    <div class="flex flex-row gap-2">
      <a
        routerLink="/"
        routerLinkActive="active"
        class="bg-blue-500 py-1 rounded text-white px-4"
        >Home</a
      >
      <a
        routerLink="/add"
        routerLinkActive="active"
        class="bg-blue-500 py-1 rounded text-white px-4"
        >Add</a
      >
      <a
        routerLink="/update"
        routerLinkActive="active"
        class="bg-blue-500 py-1 rounded text-white px-4"
        >Update</a
      >
    </div>
  </div>

  <router-outlet></router-outlet>
</main>
