<main class="my-5">
  <div *ngIf="todos().length > 0; then content; else notFound"></div>
  <ng-template #content>
    <div class="grid grid-cols-3 gap-2">
      <div *ngFor="let todo of todos()"
        class="flex flex-row items-center justify-between border border-black rounded p-1" [ngClass]="{
          'bg-slate-300': todo.completed,
          'bg-transparent': !todo.completed
        }" (click)="onSelect(todo.id)">
        <div class="text-xl font-bold">{{ todo.title }}</div>
        <input type="checkbox" [name]="todo.id" [checked]='todo.completed'>
      </div>
    </div>
  </ng-template>
  <ng-template #notFound>
    <div class="text-xl font-bold">Todo is empty</div>
  </ng-template>
</main>
